/* CSS */
div.container {
    display: flex;
    /* flex-direction: column */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #30302e;
    padding: 20px;
    height: 300px;
    /* Posições:
    left
    right
    flex-start: superior
    flex-end: inferior */
}

div.card {
    background-color: #8cc9e4;
    color: 30302e;
    padding: 20px;
    margin: 5px;
    width: 200px;
    height: 100px;
}