/* CSS */
.container {
    display: flex;
    height: 250px;
    padding: 20px;
    background-color: #30302e;
}
.card {
    background-color: #8cc9e4;
    padding: 20px;
    margin: 5px;
    color: #30302e;
}
.row-center {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column-left {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.row-space-between {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.row-space-around {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flex-wrap {
    flex-direction: row;
    /* Ativa quebra de linha no flexbox */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardMaior {
    width: 300px;
}